{% extends 'main.html' %}
{% load static %}


{% block style %}
body { overflow-x: hidden; }
{% endblock %}



{% block javascript %}
<script type="text/javascript" src="{% static 'datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'datepicker.css' %}"/>
{% endblock %}


{% block content %}
<div class="container" style="margin-bottom: 10px;"></div>

{# <!-- "TABULAS DAĻA" --> #}
{% if mobile_browser == True %}<div class="table-responsive">{% else %}<div>{% endif %}
<div class="container-fluid">
 <table class="table table-hover table-striped table-condensed">
  <thead>
   <tr style="background: #aaa;">
    <th style="vertical-align: top;">Datums</th>
    <th style="vertical-align: top;">Dienas</th>
    <th style="vertical-align: top;">Skaitītāja rādījums</th>
    <th style="vertical-align: top;">Patērēts laika periodā</th>
    <th style="vertical-align: top;">Patēriņš dienā</th>
   </tr>
  </thead>

  <tbody>
   <tr style="border: solid red 2px;">
    <form action="/sm_house/electro/input_data/" method=POST>{% csrf_token %}
     <td style="border-top: solid red 2px;" colspan=2>
      <input class="form-control" id="datums" name="date" size="10" type="text" value="{{ input_date|date:"Y/m/d" }}">
     </td>

<script>
$(document).ready(function(){ var date_input=$('input[name="date"]');
 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'yyyy/mm/dd', container: container, todayHighlight: true, autoclose: true, weekStart: 1, endDate: '{{ input_date|date:"Y/m/d" }}' };
 date_input.datepicker(options); })
</script>

     <td colspan=2 style="border-top: solid red 2px;">
      <div class="input-group">
       <input class="form-control" id="read" name="read" size="20" type="text" placeholder="{{ input_read.read }}">
       <span class="input-group-btn">
        <button class="btn btn-warning" type="submit">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
       </span>
      </div>
     </td>
     <td></td>
    </form>
   </tr>
{% for d in data reversed %}
   <tr>
    <td>{{ d.date|date:"Y/m/d" }}</td>
    <td>{{ d.days }}</td>
    <td>{{ d.read }}</td>
    <td>{{ d.cons }}</td>
    <td>{{ d.cons_days }}</td>
   </tr>
{% endfor %}
  </tbody>
 </table>
</div>
</div>
{% endblock %}
