{% extends 'main.html' %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="https://html-color-codes.info/old/cdn/hcc_017.css">
{% endblock %}


{% block style %}
.slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0px 5px 0px;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(0,0,95);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(0,0,95);
  cursor: pointer;
}
{% endblock %}


{% block content %}
<form id="my_form" action="/sm_house/led/" method=POST>{% csrf_token %}</form>

{#<div class="row">#}
 <div class="col-md-6">
  <div class="form-group">
   <b>Krāsa:</b>
  <input id="favcolor" type="color" name="favcolor" value="#ff0000">
  <input id="submit_color" type="button" value="Izvēlēties">
 </div>

  <div class="form-group">
   <b>Gaišums</b>
   <input id="favbright" type="range" name="bright" min="0" max="255" step="1" value="255" class="slider">
  </div>

  <div class="form-group">
   <b>Efektu ātrums</b>
   <input id="favspeed" type="range" name="speed" min="0.00001" max="6" step="0.00001" value="1.1" class="slider">
  </div>

  <div class="form-group">
   <input id="submit_effect_0" type="button" value="GRADUAL COLOR CHANGE"><br>
   <input id="submit_effect_1" type="button" value="8 COLOR CHANGE"><br>
   <input id="submit_effect_2" type="button" value="8 COLOR CROSFADE"><br><br>
   <input id="submit_effect_3" type="button" value="PULSATING WHITE"><br>
   <input id="submit_effect_4" type="button" value="YELLOW RED FADE"><br>
   <input id="submit_effect_5" type="button" value="GREEN RED FADE"><br><br>
   <input id="submit_effect_6" type="button" value="POLICE"><br>
  </div>
 </div>

 <div class="col-md-5">
  <div id="output" style="border: solid black 1px; height: 100px; width: 100px; "></div>
 </div>

<script>
{# "SEND & GET COLOR STATE" #}
function send_led(val) {
  $.post("/sm_house/led_control/", {
    'data': JSON.stringify(val), 'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value })
      .done(function(msg) { state(msg); })
      .fail(function(xhr, status, error) { console.log( xhr ); console.log( status ); console.log( error ); });
//  console.log( val );
}
function state(val) { var j = JSON.parse( val ); var c = "rgb(" + j.RGB[0] + ", " + j.RGB[1] + ", " + j.RGB[2] + ")"; $("#output").css("background-color", c); }


{# "SET SCROLLBARS IF IDLE" #}
var idleTime = 0;
function timerIncrement() { idleTime = idleTime + 1; if (idleTime > 2) { setValues(); idleTime = 0; }}
function setValues() {
  $.post("/sm_house/led_control/", {
    'data': JSON.stringify( {'date': new Date()} ), 'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value })
      .done(function(msg) {
         var j = JSON.parse( msg ); $("#favbright").val(j.B); $("#favspeed").val(j.S);
      })
      .fail(function(xhr, status, error) { console.log( xhr ); console.log( status ); console.log( error ); });
}


$(document).ready(function(){
  {# <!-- SET SCROLLBARS IF IDLE --> #}
  setValues();
  var idleInterval = setInterval(timerIncrement, 5000);
  $(this).mousemove(function (e) { idleTime = 0; }); $(this).keypress(function (e) { idleTime = 0; });

  {# <!-- SET COLOR FROM SOCKET --> #}
  setInterval(function(){ temp = {'date': new Date()}; send_led(temp); }, 1000);

  {# <!-- LED FUNCTION EVENTS --> #}
  $("#submit_color").click(function(){ temp = {'color': $("#favcolor").val(), 'date': new Date()}; send_led(temp); });

  $("#favbright").change(function(){ temp = {'bright': $("#favbright").val(), 'date': new Date()}; send_led(temp); });
  $("#favspeed").change(function(){ temp = {'speed': $("#favspeed").val(), 'date': new Date()}; send_led(temp); });

  $("#submit_effect_0").click(function(){ temp = {'effect': 0, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_1").click(function(){ temp = {'effect': 1, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_2").click(function(){ temp = {'effect': 2, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_3").click(function(){ temp = {'effect': 3, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_4").click(function(){ temp = {'effect': 4, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_5").click(function(){ temp = {'effect': 5, 'date': new Date()}; send_led(temp); });
  $("#submit_effect_6").click(function(){ temp = {'effect': 6, 'date': new Date()}; send_led(temp); });
});

</script>
{% endblock %}

