{% extends 'main.html' %}


{% block content %}

{% if mobile_browser %}
<div class="col-xs-12 col-sm-12" id="jobs-menu">
 <div class="nav-side-menu">
  <div style="height: 50px; width:100%;"></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#jobs-content"></i>
  <div class="jobs-list">
   <ul id="jobs-content" class="menu-content collapse out">
{% else %}
<div class="container-fluid">
 <div class="navbar-collapse">
  <ul class="nav nav-tabs">
{% endif %}

{% for a in adress %}
   <li{% if a.0.order == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#{{ a.0.slug }}" id="tab_{{ a.0.slug }}">{{ a.0.adress }}</a></li>
{% endfor %}
  </ul>
 </div>
</div>

<div class="tab-content">
{% for a in adress %}
  <div id="{{ a.0.slug }}" class="tab-pane fade{% if a.0.order == 1 %} in active{% endif %}">
{% if a.1 == True %}
{# <!-- "Location DATI START" --> #}

{# <!-- "Legend" --> #}
 <div class="termo_btn_box" id="{{ a.0.slug }}_btn_box">
  <button class="btn btn-warning" id="btn_{{ a.0.slug }}_show" style="margin-right: 32px;color: #000;"><i class="fa fa-angle-double-left"></i></button>
  <button class="btn" id="btn_{{ a.0.slug }}_ta"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> <i class="fa fa-thermometer"></i></button>
  <button class="btn" id="btn_{{ a.0.slug }}_td"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> <i class="fa fa-thermometer"></i></button>
  <button class="btn" id="btn_{{ a.0.slug }}_h"><i class="fa fa-tint"></i></button>
{% if a.0.slug == "ktc" %}
{% for img in ktc %}
  <button class="btn" style="background-color:{{ img.color }};" id="btn_{{ a.0.slug }}_{{ img.order }}">{{ img.place }}</button>
{% endfor %}
{% endif%}
{% if a.0.slug == "rpz" %}
{% for img in rpz %}
  <button class="btn" style="background-color:{{ img.color }};" id="btn_{{ a.0.slug }}_{{ img.order }}">{{ img.place }}</button>
{% endfor %}
{% endif%}
 </div>

    <h4>
     <span id="{{ a.0.slug }}_day_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>DIENNAKTS</b> {{ termo_day.0|date:"d/m/Y H:i" }} - {{ termo_day.1|date:"d/m/Y H:i" }}
    </h4>

<div class="row" id="{{ a.0.slug }}_day_row">
<div class="container-fluid">
{# <!-- "DAY OUTSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_ta" id="{{ a.0.slug }}_a_day_p">
   <img id="{{ a.0.slug }}_a_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_back_True.png">
{% for img in ktc_ambient %}
   <img id="{{ a.0.slug }}_day_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "DAY INSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_td" id="{{ a.0.slug }}_d_day_p">
   <img id="{{ a.0.slug }}_d_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_back_False.png">
{% for img in ktc_data %}
   <img id="{{ a.0.slug }}_day_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "DAY HUMIDITY" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_h" id="{{ a.0.slug }}_h_day_p">
   <img id="{{ a.0.slug }}_h_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_back_None.png">
{% for img in ktc_humy %}
   <img id="{{ a.0.slug }}_day_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_day_humy_{{ img.order }}.png">
{% endfor %}
 </div>
</div>
</div>


    <hr>
    <h4>
     <span id="{{ a.0.slug }}_week_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>7 DIENAS</b> {{ termo_week.0|date:"d/m/Y H:i" }} - {{ termo_week.1|date:"d/m/Y H:i" }}
    </h4>


<div class="row" id="{{ a.0.slug }}_week_row">
<div class="container-fluid">
{# <!-- "WEEK OUTSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_ta" id="{{ a.0.slug }}_a_week_p">
   <img id="{{ a.0.slug }}_a_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_back_True.png">
{% for img in ktc_ambient %}
   <img id="{{ a.0.slug }}_week_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "WEEK INSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_td" id="{{ a.0.slug }}_d_week_p">
   <img id="{{ a.0.slug }}_d_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_back_False.png">
{% for img in ktc_data %}
   <img id="{{ a.0.slug }}_week_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "WEEK HUMIDITY" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_h" id="{{ a.0.slug }}_h_week_p">
   <img id="{{ a.0.slug }}_h_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_back_None.png">
{% for img in ktc_humy %}
   <img id="{{ a.0.slug }}_week_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_week_humy_{{ img.order }}.png">
{% endfor %}
 </div>
</div>
</div>


    <hr>
    <h4>
     <span id="{{ a.0.slug }}_month_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>MĒNESIS</b> {{ termo_month.0|date:"d/m/Y H:i" }} - {{ termo_month.1|date:"d/m/Y H:i" }}
    </h4>


<div class="row" id="{{ a.0.slug }}_month_row">
<div class="container-fluid">
{# <!-- "MONTH OUTSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_ta" id="{{ a.0.slug }}_a_month_p">
   <img id="{{ a.0.slug }}_a_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_back_True.png">
{% for img in ktc_ambient %}
   <img id="{{ a.0.slug }}_month_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "MONTH INSIDE" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_td" id="{{ a.0.slug }}_d_month_p">
   <img id="{{ a.0.slug }}_d_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_back_False.png">
{% for img in ktc_data %}
   <img id="{{ a.0.slug }}_month_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "MONTH HUMIDITY" --> #}
 <div class="termo_parent {{ a.0.slug }}_termo_h" id="{{ a.0.slug }}_h_month_p">
   <img id="{{ a.0.slug }}_h_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_back_None.png">
{% for img in ktc_humy %}
   <img id="{{ a.0.slug }}_month_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_month_humy_{{ img.order }}.png">
{% endfor %}
 </div>
</div>
</div>


    <hr>
{#    <h4><b>GADS</b> {{ termo_year.0|date:"d/m/Y H:i" }} - {{ termo_year.1|date:"d/m/Y H:i" }}</h4> #}



<div class="row" id="{{ a.0.slug }}_rand_row" style="display:none;">
<div class="container-fluid">
{# <!-- "RAND OUTSIDE" --> #}
 <div class="termo_parent" id="{{ a.0.slug }}_a_rand_p">
   <img id="{{ a.0.slug }}_a_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_back_True.png">
{% for img in ktc_ambient %}
   <img id="{{ a.0.slug }}_rand_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "RAND INSIDE" --> #}
 <div class="termo_parent" id="{{ a.0.slug }}_d_rand_p">
   <img id="{{ a.0.slug }}_d_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_back_False.png">
{% for img in ktc_data %}
   <img id="{{ a.0.slug }}_rand_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "RAND HUMIDITY" --> #}
 <div class="termo_parent" id="{{ a.0.slug }}_h_rand_p">
   <img id="{{ a.0.slug }}_h_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_back_None.png">
{% for img in ktc_humy %}
   <img id="{{ a.0.slug }}_rand_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.0.slug }}_rand_humy_{{ img.order }}.png">
{% endfor %}
 </div>
</div>
</div>

{# <!-- "Location DATI END" --> #}
  </div>
{% endif %}
{% endfor %}
</div>

{% if mobile_browser %}</div>{% endif %}

<div class="container" style="margin-top:10px;"></div>

<script>
{% for a in adress %}
{# <!-- Image size calculation --> #}
function resizeImages_{{ a.0.slug }}_r() {
  var h;
  h = $("#{{ a.0.slug }}_a_rand").height(); $("#{{ a.0.slug }}_a_rand_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_d_rand").height(); $("#{{ a.0.slug }}_d_rand_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_h_rand").height(); $("#{{ a.0.slug }}_h_rand_p").height( h + 15 );
}
function resizeImages_{{ a.0.slug }}_m() {
  var h;
  h = $("#{{ a.0.slug }}_a_month").height(); $("#{{ a.0.slug }}_a_month_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_d_month").height(); $("#{{ a.0.slug }}_d_month_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_h_month").height(); $("#{{ a.0.slug }}_h_month_p").height( h + 15 );
  setTimeout( function(){ resizeImages_{{ a.0.slug }}_r(); }, 1000);
  scrollControl();
}
function resizeImages_{{ a.0.slug }}_w() {
  var h;
  h = $("#{{ a.0.slug }}_a_week").height(); $("#{{ a.0.slug }}_a_week_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_d_week").height(); $("#{{ a.0.slug }}_d_week_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_h_week").height(); $("#{{ a.0.slug }}_h_week_p").height( h + 15 );
  setTimeout( function(){ resizeImages_{{ a.0.slug }}_m(); }, 1000);
}
function resizeImages_{{ a.0.slug }}_d() {
  var h;
  h = $("#{{ a.0.slug }}_a_day").height();  $("#{{ a.0.slug }}_a_day_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_d_day").height();  $("#{{ a.0.slug }}_d_day_p").height( h + 15 );
  h = $("#{{ a.0.slug }}_h_day").height();  $("#{{ a.0.slug }}_h_day_p").height( h + 15 );
  setTimeout( function(){ resizeImages_{{ a.0.slug }}_w(); }, 1000);
}

{# <!-- initial js variables --> #}
var w_{{ a.0.slug }}; var hidden_{{ a.0.slug }} = true;

{# <!-- hide legend on tab click --> #}
function legend_{{ a.0.slug }}() {
  w_{{ a.0.slug }} = $("#{{ a.0.slug }}_btn_box").width(); w_{{ a.0.slug }} = w_{{ a.0.slug }} - 66;
  $("#{{ a.0.slug }}_btn_box").css("right","-"+ w_{{ a.0.slug }} +"px"); $("#{{ a.0.slug }}_btn_box").show(); hidden_{{ a.0.slug }} = true; 
}

{# <!-- set graph image sizes on load + hide first tab legend --> #}
$(document).ready(function(){
  setTimeout( function(){ resizeImages_{{ a.0.slug }}_d(); }, 1000);
{% if a.0.order == 1 %}  legend_{{ a.0.slug }}(); {% endif %}

{# <!-- hide data temperatures --> #}
setTimeout( function(){ $(".{{ a.0.slug }}_termo_td").toggle(); }, 3000);

{# <!-- legend buttons + temperature & humidity --> #}
{% for img in ktc %}
  $("#btn_{{ a.0.slug }}_{{ img.order }}").click(function(){
    $("#{{ a.0.slug }}_day_temp_{{ img.order }}").toggle();   $("#{{ a.0.slug }}_day_humy_{{ img.order }}").toggle();
    $("#{{ a.0.slug }}_week_temp_{{ img.order }}").toggle();  $("#{{ a.0.slug }}_week_humy_{{ img.order }}").toggle();
    $("#{{ a.0.slug }}_month_temp_{{ img.order }}").toggle(); $("#{{ a.0.slug }}_month_humy_{{ img.order }}").toggle();
    $("#{{ a.0.slug }}_rand_temp_{{ img.order }}").toggle();  $("#{{ a.0.slug }}_rand_humy_{{ img.order }}").toggle();
  });
{% endfor %}
  $("#btn_{{ a.0.slug }}_ta").click(function(){ $(".{{ a.0.slug }}_termo_ta").toggle(); });
  $("#btn_{{ a.0.slug }}_td").click(function(){ $(".{{ a.0.slug }}_termo_td").toggle(); });
  $("#btn_{{ a.0.slug }}_h").click(function(){ $(".{{ a.0.slug }}_termo_h").toggle(); });

{# <!-- day/week/month show hide --> #}
  $("#{{ a.0.slug }}_day_eye").click(function(){
    $("#{{ a.0.slug }}_day_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
  $("#{{ a.0.slug }}_week_eye").click(function(){
    $("#{{ a.0.slug }}_week_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
  $("#{{ a.0.slug }}_month_eye").click(function(){
    $("#{{ a.0.slug }}_month_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });

{# <!-- add click on tab for initial position for each legend - hidden --> #}
  $("#tab_{{ a.0.slug }}").click(function(){
    legend_{{ a.0.slug }}(); setTimeout( function(){ legend_{{ a.0.slug }}(); }, 250);
  });

{# <!-- show/hidde legend --> #}
  $("#btn_{{ a.0.slug }}_show").click(function(){
    if (hidden_{{ a.0.slug }} == true) {
      $("#{{ a.0.slug }}_btn_box").animate({right: '30px'});
      $("#btn_{{ a.0.slug }}_show:first-child").html('<i class="fa fa-angle-double-right"></i>');
      hidden_{{ a.0.slug }} = false;
    } else {
      $("#{{ a.0.slug }}_btn_box").animate({right: "-"+ w_{{ a.0.slug }} +"px"});
      $("#btn_{{ a.0.slug }}_show:first-child").html('<i class="fa fa-angle-double-left"></i>');
      hidden_{{ a.0.slug }} = true;
    }
  });
})

{# <!-- SHOW CALCULATED GRAPH's --> #}
function getCookie(name) {
  var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift();
}
if ( getCookie('show_termo_graph') == "true" ) {
{% for a in adress %}
 $("#{{ a.0.slug }}_rand_row").show();
{% endfor %}
}

{% endfor %}
</script>
{% endblock %}



{% block style %}
/*   body { overflow-x: hidden; } */

   .nav-tabs > li > a{ color: #000; background-color: #ffffb3; }
   .nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }

   .termo_btn_box { top: 60px; right: 10px; position: fixed; z-index: 200; display: none; }
   .termo_btn_box .btn { color: #000;
        text-shadow: 1px 0 0 #ccc, -1px 0 0 #bbb, 0 1px 0 #bbb, 0 -1px 0 #bbb, 1px 1px #bbb, -1px -1px 0 #bbb, 1px -1px 0 #bbb, -1px 1px 0 #bbb; }

   .termo_parent { position: relative; width: 100%; height: 100%; }
   .termo_img   { width: 100%; border: solid #ddd 1px; }
   .termo_layer { position: absolute; top: 0; left: 0; }

{% endblock %}

