{% extends 'main.html' %}


{% block content %}

{% if mobile_browser %}
<div class="col-xs-12 col-sm-12" id="jobs-menu">
 <div class="nav-side-menu">
  <div style="height: 50px; width:100%;"></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#jobs-content"></i>
  <div class="jobs-list">
   <ul id="jobs-content" class="menu-content collapse out">
{% else %}
<div class="container-fluid">
 <div class="navbar-collapse">
  <ul class="nav nav-tabs">
{% endif %}

{% for a in adress %}
   <li{% if a.order == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#{{ a.slug }}">{{ a.adress }}</a></li>
{% endfor %}
  </ul>
 </div>
</div>

<div class="tab-content">
{% for a in adress %}
  <div id="{{ a.slug }}" class="tab-pane fade{% if a.order == 1 %} in active{% endif %}">
{% if a.order == 1 %}
{# <!-- "KTC DATI START" --> #}
    <h4><b>DIENNAKTS</b> {{ termo_day.0|date:"d/m/Y H:i" }} - {{ termo_day.1|date:"d/m/Y H:i" }}</h4>

<div class="termo_btn_box">
{% for img in ktc %}
 <button class="btn btn-sm" style="background-color:{{ img.color }};" id="btn_{{ a.slug }}_{{ img.order }}">{{ img.place }}</button>
{% endfor %}
</div>

{# <!-- "DAY OUTSIDE" --> #}
 <div class="termo_parent" id="ktc_a_24_p">
   <img id="ktc_a_24" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_back_True.png">
{% for img in ktc_ambient %}
   <img id="ktc_24_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "DAY INSIDE" --> #}
 <div class="termo_parent" id="ktc_d_24_p">
   <img id="ktc_d_24" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_back_False.png">
{% for img in ktc_data %}
   <img id="ktc_24_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "DAY HUMIDITY" --> #}
 <div class="termo_parent" id="ktc_h_24_p">
   <img id="ktc_h_24" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_back_None.png">
{% for img in ktc_humy %}
   <img id="ktc_24_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_24_humy_{{ img.order }}.png">
{% endfor %}
 </div>


    <hr>
    <h4><b>7 DIENAS</b> {{ termo_week.0|date:"d/m/Y H:i" }} - {{ termo_week.1|date:"d/m/Y H:i" }}</h4>


{# <!-- "WEEK OUTSIDE" --> #}
 <div class="termo_parent" id="ktc_a_168_p">
   <img id="ktc_a_168" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_back_True.png">
{% for img in ktc_ambient %}
   <img id="ktc_168_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "WEEK INSIDE" --> #}
 <div class="termo_parent" id="ktc_d_168_p">
   <img id="ktc_d_168" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_back_False.png">
{% for img in ktc_data %}
   <img id="ktc_168_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "WEEK HUMIDITY" --> #}
 <div class="termo_parent" id="ktc_h_168_p">
   <img id="ktc_h_168" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_back_None.png">
{% for img in ktc_humy %}
   <img id="ktc_168_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_168_humy_{{ img.order }}.png">
{% endfor %}
 </div>


    <hr>
    <h4><b>MĒNESIS</b> {{ termo_month.0|date:"d/m/Y H:i" }} - {{ termo_month.1|date:"d/m/Y H:i" }}</h4>


{# <!-- "MONTH OUTSIDE" --> #}
 <div class="termo_parent" id="ktc_a_720_p">
   <img id="ktc_a_720" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_back_True.png">
{% for img in ktc_ambient %}
   <img id="ktc_720_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "MONTH INSIDE" --> #}
 <div class="termo_parent" id="ktc_d_720_p">
   <img id="ktc_d_720" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_back_False.png">
{% for img in ktc_data %}
   <img id="ktc_720_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "MONTH HUMIDITY" --> #}
 <div class="termo_parent" id="ktc_h_720_p">
   <img id="ktc_h_720" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_back_None.png">
{% for img in ktc_humy %}
   <img id="ktc_720_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_720_humy_{{ img.order }}.png">
{% endfor %}
 </div>


    <hr>
    <h4><b>GADS</b> {{ termo_year.0|date:"d/m/Y H:i" }} - {{ termo_year.1|date:"d/m/Y H:i" }}</h4>


{# <!-- "YEAR OUTSIDE" --> #}
 <div class="termo_parent" id="ktc_a_8760_p">
   <img id="ktc_a_8760" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_back_True.png">
{% for img in ktc_ambient %}
   <img id="ktc_8760_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "YEAR INSIDE" --> #}
 <div class="termo_parent" id="ktc_d_8760_p">
   <img id="ktc_d_8760" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_back_False.png">
{% for img in ktc_data %}
   <img id="ktc_8760_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_temp_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "YEAR HUMIDITY" --> #}
 <div class="termo_parent" id="ktc_h_8760_p">
   <img id="ktc_h_8760" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_back_None.png">
{% for img in ktc_humy %}
   <img id="ktc_8760_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ a.slug }}_8760_humy_{{ img.order }}.png">
{% endfor %}
 </div>

{# <!-- "KTC DATI END" --> #}
{% endif %}
  </div>
{% endfor %}
</div>

{% if mobile_browser %}</div>{% endif %}

<div class="container" style="margin-top:10px;"></div>

<div id="footer" class="container-fluid"></div>
 <button id="back_to_top" type="button" class="btn btn-warning">
  <span class="glyphicon glyphicon-open" aria-hidden="true"> </span> Uz lapas augšu</button>
 <button id="go_to_bottom" type="button" class="btn btn-warning">
  <span class="glyphicon glyphicon-save" aria-hidden="true"> </span> Uz lapas leju</button>

<script>
function resizeImages4() {
  var h;
  h = $("#ktc_a_8760").height(); $("#ktc_a_8760_p").height( h + 15 );
  h = $("#ktc_d_8760").height(); $("#ktc_d_8760_p").height( h + 15 );
  h = $("#ktc_h_8760").height(); $("#ktc_h_8760_p").height( h + 15 );
}

function resizeImages3() {
  var h;
  h = $("#ktc_a_720").height(); $("#ktc_a_720_p").height( h + 15 );
  h = $("#ktc_d_720").height(); $("#ktc_d_720_p").height( h + 15 );
  h = $("#ktc_h_720").height(); $("#ktc_h_720_p").height( h + 15 );
  setTimeout( function(){ resizeImages4(); }, 250);
}

function resizeImages2() {
  var h;
  h = $("#ktc_a_168").height(); $("#ktc_a_168_p").height( h + 15 );
  h = $("#ktc_d_168").height(); $("#ktc_d_168_p").height( h + 15 );
  h = $("#ktc_h_168").height(); $("#ktc_h_168_p").height( h + 15 );
  setTimeout( function(){ resizeImages3(); }, 250);
}

function resizeImages1() {
  var h;
  h = $("#ktc_a_24").height();  $("#ktc_a_24_p").height( h + 15 );
  h = $("#ktc_d_24").height();  $("#ktc_d_24_p").height( h + 15 );
  h = $("#ktc_h_24").height();  $("#ktc_h_24_p").height( h + 15 );
  setTimeout( function(){ resizeImages2(); }, 250);
}

$(document).ready(function(){
  setTimeout( function(){ resizeImages1(); }, 250);  

{% for img in ktc %}
  $("#btn_ktc_{{ img.order }}").click(function(){
    $("#ktc_24_temp_{{ img.order }}").toggle();  $("#ktc_24_humy_{{ img.order }}").toggle();
    $("#ktc_168_temp_{{ img.order }}").toggle(); $("#ktc_168_humy_{{ img.order }}").toggle();
    $("#ktc_720_temp_{{ img.order }}").toggle(); $("#ktc_720_humy_{{ img.order }}").toggle();
    $("#ktc_8760_temp_{{ img.order }}").toggle(); $("#ktc_8760_humy_{{ img.order }}").toggle();
  });
{% endfor %}

})
</script>
{% endblock %}



{% block style %}
   body { overflow-x: hidden; }

   .termo_btn_box { bottom: 12px; right: 200px; position: fixed; z-index: 200; }

   .termo_parent { position: relative; width: 100%; height: 100%; }
   .termo_img   { width: 100%; border: solid #ddd 1px; }
   .termo_layer { position: absolute; top: 0; left: 0; }

   textarea { resize: none; }

   .table td.fit, .table th.fit { width: 1%; text-align:center; }

   .table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #9b9da0; }
   .table.table > thead > tr > th { vertical-align:top }

   a { color: #000; }

   .nav-tabs > li > a{ color: #000; background-color: #ffffb3; }
   .nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }

{# NOT SURE ABOUT NEXT ONE #}
/*   .tab-content{ background-color:#303136; color:#fff; padding:5px } */
{% endblock %}

