{% extends 'termo_head.html' %}
{% load static %}


{% block termo_data %}

<div class="tab-content">
  <div id="{{ a.0.slug }}" class="tab-pane fade in active">
{# <!-- "Location DATI START" --> #}

{# <!-- "Legend START" --> #}
 <div class="termo_btn_box" id="termo_btn_box">
  <button class="btn btn-warning" id="btn_data_show" onclick="openNav()">☰</button>
 </div>
 <div id="mySidebar" class="sidebar">
  <div style="min-width:220px;">
   <button class="btn legend" id="btn_data_ta" style="min-width:70px;"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> <i class="fa fa-thermometer"></i></button>
   <button class="btn legend radius" id="btn_data_td" style="min-width:70px;"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> <i class="fa fa-thermometer"></i></button>
   <button class="btn legend radius" id="btn_data_h" style="min-width:70px;"><i class="fa fa-tint"></i></button><br>
  </div>
{% for img in data %}
  <button class="btn legend" style="background-color:{{ img.color }}; min-width:218px; margin-top:4px;" id="btn_data_{{ img.order }}">{{ img.place }}</button><br>
{% endfor %}
 </div>
{# <!-- "Legend END" --> #}

    <h4>
     <span id="day_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>DIENNAKTS</b><br>{{ termo_day.0|date:"d/m/Y H:i" }} - {{ termo_day.1|date:"d/m/Y H:i" }}
    </h4>

<div class="row" id="data_day_row">
{# <!-- LOADING --> #}
<div id="load_gif" style="display:none;"><center><div id="load_gif_top"></div><img src="{% static 'images/graf_loading.gif' %}"></center></div>
<div class="container-fluid">
{# <!-- "DAY OUTSIDE" --> #}
 <div class="termo_parent data_termo_ta" id="data_a_day_p">
   <img id="data_a_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_back_True.png{{cache}}">
{% for img in data_ambient %}
   <img id="data_day_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "DAY INSIDE" --> #}
 <div class="termo_parent data_termo_td" id="data_d_day_p">
   <img id="data_d_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_back_False.png{{cache}}">
{% for img in data_data %}
   <img id="data_day_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "DAY HUMIDITY" --> #}
 <div class="termo_parent data_termo_h" id="data_h_day_p">
   <img id="data_h_day" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_back_None.png{{cache}}">
{% for img in data_humy %}
   <img id="data_day_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_day_humy_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>
</div>
</div>

<script>
function load_day(){
  var timestamp = new Date().getTime();
  $("#data_a_day").attr("src", "/media/smhouse/termo/{{ slug }}_day_back_True.png?" + timestamp);
  $("#data_d_day").attr("src", "/media/smhouse/termo/{{ slug }}_day_back_False.png?" + timestamp);
  $("#data_h_day").attr("src", "/media/smhouse/termo/{{ slug }}_day_back_None.png?" + timestamp);
{% for img in data_ambient %}  $("#data_day_temp_{{ img.order }}").attr("src", "/media/smhouse/termo/{{ slug }}_day_temp_{{ img.order }}.png?" + timestamp);{% endfor %}
{% for img in data_data %}  $("#data_day_temp_{{ img.order }}").attr("src", "/media/smhouse/termo/{{ slug }}_day_temp_{{ img.order }}.png?" + timestamp);{% endfor %}
{% for img in data_humy %}  $("#data_day_humy_{{ img.order }}").attr("src", "/media/smhouse/termo/{{ slug }}_day_temp_{{ img.order }}.png?" + timestamp);{% endfor %}
  $("#load_gif").fadeOut();
}
$(document).ready(function(){
 setTimeout( function(){ $("#load_gif").fadeIn(); }, 1000);
 setTimeout( function(){ load_day(); }, 12000);
 setInterval( function(){ load_day(); }, 30000);
});

</script>


    <hr>
    <h4>
     <span id="week_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>7 DIENAS</b><br>{{ termo_week.0|date:"d/m/Y" }} {{ hours }} - {{ termo_week.1|date:"d/m/Y" }} {{ hours }}
    </h4>


<div class="row" id="data_week_row">
<div class="container-fluid">
{# <!-- "WEEK OUTSIDE" --> #}
 <div class="termo_parent data_termo_ta" id="data_a_week_p">
   <img id="data_a_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_back_True.png{{cache}}">
{% for img in data_ambient %}
   <img id="data_week_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "WEEK INSIDE" --> #}
 <div class="termo_parent data_termo_td" id="data_d_week_p">
   <img id="data_d_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_back_False.png{{cache}}">
{% for img in data_data %}
   <img id="data_week_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "WEEK HUMIDITY" --> #}
 <div class="termo_parent data_termo_h" id="data_h_week_p">
   <img id="data_h_week" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_back_None.png{{cache}}">
{% for img in data_humy %}
   <img id="data_week_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_week_humy_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>
</div>
</div>


    <hr>
    <h4>
     <span id="month_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
     <b>MĒNESIS</b><br>{{ termo_month.0|date:"d/m/Y" }} - {{ termo_month.1|date:"d/m/Y" }}
    </h4>


<div class="row" id="data_month_row">
<div class="container-fluid">
{# <!-- "MONTH OUTSIDE" --> #}
 <div class="termo_parent data_termo_ta" id="data_a_month_p">
   <img id="data_a_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_back_True.png{{cache}}">
{% for img in data_ambient %}
   <img id="data_month_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "MONTH INSIDE" --> #}
 <div class="termo_parent data_termo_td" id="data_d_month_p">
   <img id="data_d_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_back_False.png{{cache}}">
{% for img in data_data %}
   <img id="data_month_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "MONTH HUMIDITY" --> #}
 <div class="termo_parent data_termo_h" id="data_h_month_p">
   <img id="data_h_month" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_back_None.png{{cache}}">
{% for img in data_humy %}
   <img id="data_month_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_month_humy_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>
</div>
</div>


    <hr>
    <h4>
     <span id="rand_eye" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
{#     <b>GADS</b><br>{{ termo_year.0|date:"d/m/Y" }} - {{ termo_year.1|date:"d/m/Y" }} #}
    </h4>


<div class="row" id="data_rand_row"> {# style="display:none;"> #}
<div class="container-fluid">
{# <!-- "RAND OUTSIDE" --> #}
 <div class="termo_parent data_termo_ta" id="data_a_rand_p">
   <img id="data_a_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_back_True.png{{cache}}">
{% for img in data_ambient %}
   <img id="data_rand_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "RAND INSIDE" --> #}
 <div class="termo_parent data_termo_td" id="data_d_rand_p">
   <img id="data_d_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_back_False.png{{cache}}">
{% for img in data_data %}
   <img id="data_rand_temp_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_temp_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>

{# <!-- "RAND HUMIDITY" --> #}
 <div class="termo_parent data_termo_h" id="data_h_rand_p">
   <img id="data_h_rand" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_back_None.png{{cache}}">
{% for img in data_humy %}
   <img id="data_rand_humy_{{ img.order }}" class="termo_img termo_layer" src="/media/smhouse/termo/{{ slug }}_rand_humy_{{ img.order }}.png{{cache}}">
{% endfor %}
 </div>
</div>
</div>

{# <!-- "Location DATI END" --> #}
  </div>
</div>


{% if mobile_browser %}</div>{% endif %}

<div class="container" style="margin-top:10px;"></div>

<script>
{# <!-- Image size calculation --> #}
function resizeImages() {
  var h = $("#data_a_month").height();
  $("#data_a_day_p").height( h + 15 ); $("#data_d_day_p").height( h + 15 ); $("#data_h_day_p").height( h + 15 );
  $("#data_a_week_p").height( h + 15 ); $("#data_d_week_p").height( h + 15 ); $("#data_h_week_p").height( h + 15 );
  $("#data_a_month_p").height( h + 15 ); $("#data_d_month_p").height( h + 15 ); $("#data_h_month_p").height( h + 15 );
  $("#data_a_rand_p").height( h + 15 ); $("#data_d_rand_p").height( h + 15 ); $("#data_h_rand_p").height( h + 15 );
{# <!-- set LOADING gif on day ambient data layer --> #}
  $("#load_gif").height( h + 15 ); $("#load_gif_top").height( (h+15)/2.5 ); $(".termo_layer").height( h + 15 );
{# <!-- hide data temperatures & humidity --> #}
  $(".data_termo_td").toggle(); $(".data_termo_h").toggle();
  scrollControl();
}
{# <!-- set graph image sizes on load + hide first tab legend --> #}
$(window).on("load", function() { resizeImages(); });

{# <!-- initial js variables --> #}
var w; var h = true;

{# <!-- hide legend on tab click --> #}
function legend() { w = $("#termo_btn_box").width(); w = w - 66; $("#termo_btn_box").css("right","-"+ w +"px"); $("#termo_btn_box").show(); h = true; } legend();

{# <!-- legend buttons + temperature & humidity --> #}
$(document).ready(function(){
{% for img in data %}
  $("#btn_data_{{ img.order }}").click(function(){
    $("#data_day_temp_{{ img.order }}").toggle();   $("#data_day_humy_{{ img.order }}").toggle();
    $("#data_week_temp_{{ img.order }}").toggle();  $("#data_week_humy_{{ img.order }}").toggle();
    $("#data_month_temp_{{ img.order }}").toggle(); $("#data_month_humy_{{ img.order }}").toggle();
    $("#data_rand_temp_{{ img.order }}").toggle();  $("#data_rand_humy_{{ img.order }}").toggle();
  });
{% endfor %}
  $("#btn_data_ta").click(function(){ $(".data_termo_ta").toggle(); });
  $("#btn_data_td").click(function(){ $(".data_termo_td").toggle(); });
  $("#btn_data_h").click(function(){ $(".data_termo_h").toggle(); });

{# <!-- day/week/month show hide --> #}
  $("#day_eye").click(function(){
    $("#data_day_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
  $("#week_eye").click(function(){
    $("#data_week_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
  $("#month_eye").click(function(){
    $("#data_month_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
  $("#rand_eye").click(function(){
    $("#data_rand_row").toggle();
    if( $(this).hasClass("glyphicon-eye-open") == true) {
      $(this).addClass("glyphicon-eye-close"); $(this).removeClass("glyphicon-eye-open"); }
    else {
      $(this).addClass("glyphicon-eye-open"); $(this).removeClass("glyphicon-eye-close"); }
  });
})

{# <!-- show/hidde legend --> #}
function openNav() {
  if (h) { document.getElementById("mySidebar").style.width = "234px"; h = false; }
  else { document.getElementById("mySidebar").style.width = "0"; h = true; }
}
{# <!-- legend button border on off --> #}
$("button.legend").click(function(){ if($(this).is(".radius")){ $(this).removeClass("radius"); return; } else { $(this).addClass("radius"); } });


{# <!-- SHOW CALCULATED GRAPH's --> #}
function getCookie(name) {
  var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift();
}
if ( getCookie('show_termo_graph') == "true" ) {
 $("#data_rand_row").show();
}
</script>
{% endblock %}
