{% extends 'main.html' %}

{% block style %}
/*  #osm-map { background-color: lightblue; border: solid black 1px; height: 300px; max-width: 640px; } */
  #osm-map { background-color: lightblue; border: solid black 1px; height: 85vh; max-height: 85vh; max-width: 90vw; }
{% endblock %}


{% block javascript %}
 <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
 <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>

<script>
{# "Target's GPS coordinates." #}
var map;
var xy = [[56.968901, 24.683116], [56.969026, 24.682507], [56.969223, 24.682413]];
var lat = '56.9687926'; var lon = '24.6827413';

{# "GET LOCATION FROM BUTTON CLICK" #}
function getLocation() {
  var element = document.getElementById("osm-map");
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
  } else { element.innerHTML = "Geolocation is not supported by this browser."; }
}
function setPosition(position) {
  lat = position.coords.latitude; lon = position.coords.longitude; showPosition();
}

{# "SHOW INITIAL POSITION OR RELOAD FROM BUTTON CLICK FUNCTION" #}
function showPosition() {
  var element = document.getElementById("osm-map");
 {# "RESET MAP IF NEEDED" #}
  try { map.remove(); } catch (err) {}
 {# "Create Leaflet map on map element." #}
  map = L.map(element);
 {# "Add OSM tile leayer to the Leaflet map." #}
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
 {# "Target's GPS coordinates." #}
  var target = L.latLng( lat, lon);
 {# "Set map's center to target with zoom." #}
  map.setView(target, 15);
 {# "Place a marker on xy location." #}
  var target = L.latLng( xy[0] );
  L.marker(target).addTo(map);

  var target = L.latLng( xy[1] );
  L.marker(target).addTo(map);

  var target = L.latLng( xy[2] );
  L.marker(target).addTo(map);

  var latlng = [[56.968850, 24.683409], [56.968639, 24.683028], [56.968681, 24.682941], [56.968685, 24.682832], [56.969211, 24.681971], [56.969398, 24.682348]];
  var polygon = L.polygon(latlng, {color:'blue'}).addTo(map);

//  var myMarker = L.circleMarker(stuSplit, { title: 'unselected' }).addTo(map);
//  var temp = L.circle( [ '{{d.lat}}' , '{{d.lon}}' ], {color:'{{ d.radio }}', fillColor:'{{ d.radio }}', fillOpacity:0.5, radius:3}).addTo(map);
//  temp.bindTooltip( "{{ d.mark }}" );


}

$(document).ready(function () { showPosition(); });
</script>
{% endblock %}




{# <!-- "GRUPA misc" --> #}
{% for g in username.groups.all %}
  {% ifequal g.name "misc" %}
<div class="table-responsive" style="margin-top: 10px;">
 <a href="#" onclick="getLocation()">
  <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px;">
   <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span> GET LOCATION</button>
 </a>
 <a href="/login/map/">
  <button type="button" class="btn btn-success btn-sm pull-right" style="margin-left: 5px;">
   <span class="glyphicon glyphicon glyphicon-floppy-save" aria-hidden="true"></span> SAVE</button>
 </a>
</div>

  {% endifequal %}
{% endfor %}



{# <!-- CONTENT --> #}
{% block content %}
<div class="table-responsive" style="margin-top: 5px;">
 <center>
  <div id="osm-map"></div>
 </center>
</div>
{% endblock %}




{# <!-- NOT USED GOOGLE MAP SECTION --> #}
<div class="table-responsive" style="margin-top: 10px;">
 <center>
  <div class="mapouter">
   <div class="gmap_canvas">
    <iframe width="640" height="480" id="gmap_canvas" src="https://maps.google.com/maps?q=%C4%81be%C4%BCziedu%20iela%207&t=k&z=17&ie=UTF8&iwloc=&output=embed"
     frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a>
   </div>
   <style>.mapouter{text-align:right;height:480px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:480px;width:640px;}</style>
  </div>
 </center>
 <div class="row" style="margin-top: 30px;">
</div>


