{% extends 'map_main.html' %}

{% block style %}
  #osm-map { background-color: lightblue; border: solid black 1px; height: 95vh; max-height: 95vh; max-width: 90vw; }
 .btn { min-width:100%; }

 .autocomplete { position: relative; display: inline-block; }
 .autocomplete-items { position: absolute; border: 1px solid #d4d4d4; border-bottom: none; border-top: none; z-index: 99; top: 100%; left: 0; right: 0; }
 .autocomplete-items div { padding: 10px; cursor: pointer; background-color: #fff; border-bottom: 1px solid #d4d4d4; }
 .autocomplete-items div:hover { background-color: #e9e9e9; }
 .autocomplete-active { background-color: DodgerBlue !important; color: #ffffff; }
{% endblock %}


{% block javascript %}
 <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
 <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>

<script>
{# <!-- "SEARCH" --> #}
function autocomplete(inp, arr) {
  var currentFocus; inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value; closeAllLists(); if (!val) { return false; }
      currentFocus = -1; a = document.createElement("DIV"); a.setAttribute("id", this.id + "autocomplete-list"); a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a); for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV"); b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length); b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) { inp.value = this.getElementsByTagName("input")[0].value; closeAllLists(); }); a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list"); if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) { currentFocus++; addActive(x); } else if (e.keyCode == 38) { currentFocus--; addActive(x);
      } else if (e.keyCode == 13) { e.preventDefault(); if (currentFocus > -1) { if (x) x[currentFocus].click(); } }
  });
  function addActive(x) {
    if (!x) return false; removeActive(x); if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1); x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) { x[i].classList.remove("autocomplete-active"); }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) { x[i].parentNode.removeChild(x[i]); }
    }
  }
  document.addEventListener("click", function (e) { closeAllLists(e.target); });
}



{# <!-- "Starting GPS coordinates" --> #}
var xy = [['56.85042697806207', '26.220760345458988'],['56.9471467', '24.004397899999997'],];

var map;
let zoom = 14;  {# <!-- starting zoom --> #}
var taget;     {# <!-- Marker--> #}

{# <!-- "GET LOCATION FROM GPS" --> #}
function getLocation() {
  var element = document.getElementById("osm-map");
  if (navigator.geolocation) {
    zoom = 18; navigator.geolocation.getCurrentPosition(setPosition);
  } else {
    alert( "Geolocation is not supported by this device." ); element.innerHTML = "Geolocation is not supported by this browser.";
  }
}
{# <!-- "translate geolocation object to coords and transit to map" --> #}
function setPosition(position) {
  lat = position.coords.latitude; lon = position.coords.longitude; var temp_target = L.latLng( lat, lon);
  map.setView(temp_target, zoom); map.removeLayer(target); target = L.marker(temp_target).addTo(map);
  $("#id_lat").val(lat); $("#id_lon").val(lon);
}

{# <!--"MAP __init__" --> #}
function showMap(val) {
 {# <!--"RESET MAP IF NEEDED" --> #}
  try { map.remove(); } catch (err) {}
  var element = document.getElementById("osm-map"); map = L.map(element);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { maxZoom: 19, minZoom: 8,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  var temp_target = L.latLng( val ); map.setView(temp_target, zoom); target = L.marker(temp_target).addTo(map);
{# <OUTPUTS NO DB> #}
//var myMarker = L.circleMarker(stuSplit, { title: 'unselected' }).addTo(map);
{% for d in data %}
  var temp = L.circle( [ '{{d.lat}}' , '{{d.lon}}' ], {color:'{{ d.radio }}', fillColor:'{{ d.radio }}', fillOpacity:0.5, radius:3}).addTo(map);
{% if edit %}{% else %}
  temp.bindTooltip( "{{ d.mark }}" );
  temp.bindPopup( "<a href='/mapplot/plot/{{d.id}}/'><b>{{ d.mark }}</b></a><br>{{ d.get_radio_display }}<br>{%if d.chk_1%}OLD<br>{%endif%}{%if d.chk_2%}LED<br>{%endif%}{%if d.chk_3%}Konsole{%endif%}" );
{% endif %}{% endfor %}

{# <Click events> #}
  map.on('click', function(e) {
    $("#id_lat").val(e.latlng.lat); $("#id_lon").val(e.latlng.lng);
{% if edit %}{% else %}
    map.panTo([e.latlng.lat, e.latlng.lng]);
{% endif %}
    map.removeLayer(target);
    target = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
  });

{# <initial zoom&location + update on map move> #}
  $("#id_zoom").val( map.getCenter().lat + ":" + map.getCenter().lng + ":" + map.getZoom() );
{% if edit %}
  map.dragging.disable();
{% else %}
  map.on('move', function(e) { $("#id_zoom").val( map.getCenter().lat + ":" + map.getCenter().lng + ":" + map.getZoom() ); });
{% endif %}
}

{# <Cepumi> #}
function getCookie(name) { var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift(); }
$(document).ready(function () {
{% if edit %}
  zoom = 18; showMap( [{{ edit.lat }}, {{ edit.lon }}] );
{% else %}
  if ( getCookie('view') ) { 
    var t = getCookie('view').split(":"); var loc = [t[0], t[1]]; zoom = t[2]; showMap(loc);  } else { showMap(xy[0]); }
{% endif %}
});

{# <EDIT SET ATTRIBUTES TO INPUT FIELD> #}
{% if edit %}
$(document).ready(function () { $("#id_mark").attr('readonly', true); $("#id_city").attr('readonly', true); });
{% endif %}
</script>
{% endblock %}







{% block content %}
{# <!--DELETE MODAL START--> #}
{% if edit %}
<div class="modal fade" id="DelModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog" style="margin-top: 100px"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Dzēst punktu</h3>
</div>
<div class="modal-footer">
 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <a href="/mapplot/plot/del/{{ edit.id }}/">
    <button class="btn btn-danger" type="submit">Dzēst</button>
   <a>
 </div>
 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
 <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <button type="button" class="btn btn-success" data-dismiss="modal">Atcelt</button>
 </div>
</div></div></div>
 </form>
</div>
{% endif %}
{# <!--DELETE MODAL END--> #}


{# <!--LEFT MENU BAR START--> #}
<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" id="side-menu">
<center>

{% if edit %}
 <div style="margin-top:69px;"></div>
{% else %}
 <div class="form-group" style="margin-top:20px;">
  <a href="#" onclick="getLocation()">
   <button type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span> GET GPS DATA</button>
  </a>
 </div>
{% endif %}

<form action="/mapplot/plot/{% if edit %}{{ edit.id }}/{% endif %}" method=POST id="mapform">

 {% csrf_token %}
 <input type="hidden" name="zoom" id="id_zoom">

 <div class="form-group">
  {{ form.city }}
 </div>


{% if edit%}
 <div class="input-group">
  {{ form.mark }}
  <span class="input-group-btn">
  <button class="btn btn-danger" type="button" onclick="$('#id_mark').attr('readonly', false);">
   <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
  </span>
 </div>
{% else %}
 <div class="form-group">
  <label>ID:</label>
  {{ form.mark }}
  {{ form.mark.errors }}
 </div>
{% endif %}

 <div class="form-group">
  <label>Position:</label>
  {{ form.lat }}
  {{ form.lon }}
 </div>

 <div class="form-group">
  <label>Select:</label>
  {{ form.radio }}
 </div>

<script>
$("#id_radio").on('change', function() {
  if (this.value == "green") { $("#chk_div").hide(); $("#hiden_chk").show(); } else { $("#chk_div").show(); $("#hiden_chk").hide(); }
});
</script>

 <div id="hiden_chk" style="margin-top:98px; display:none;"></div>
 <div class="form-group" id="chk_div">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <label>OLD</label>
   {{ form.chk_1 }}<br>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <label>LED</label>
   {{ form.chk_2 }}<br>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <label>Konsole</label>
   {{ form.chk_3 }}<br>
  </div>
 </div>

 <div class="form-group">
  <button type="submit" class="btn btn-success">
   <span class="glyphicon glyphicon glyphicon-floppy-save" aria-hidden="true"></span> SAVE{% if edit %} CHANGES{% endif %}</button>
 </div>

</form>

{% if edit %}
 <div class="form-group">
  <a href="/mapplot/plot/">
   <button type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon glyphicon-step-backward" aria-hidden="true"></span> CANCEL</button>
  </a>
 </div>

 <div class="form-group">
   <button type="button" class="btn btn-danger" onclick="$('#DelModal').modal('show');">
    <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> DELETE</button>
 </div>
{% else %}
 <div class="form-group">
  <form autocomplete="off" action="/mapplot/search/" method="POST">
   {% csrf_token %}
   <div class="autocomplete">
    <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
   </div>
    <button type="submit" class="btn btn-info">
     <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> SEARCH</button>
  </form>
 </div>

 <div class="form-group">
  <input type="file" accept="image/*" capture="camera" style="display: none">
  <button type="button" class="btn btn-warning" id="camera">
   <span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true"></span>{# TAKE PHOTO#}</button>
 </div>

<script>
$("#camera").click(function (){ $(this).parent().find("input").click(); });
</script>

<script>
{# <!-- An array containing all the country names in the world: --> #}
var countries = [{% for d in data %}"{{ d.mark }}", {% endfor %}];
{# <!-- initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values: --> #}
autocomplete(document.getElementById("searchInput"), countries);
</script>
{% endif %}


</center>
</div>
{# <!--LEFT MENU BAR END--> #}


{# <!--PAGE CONTENT START--> #}
<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10">
  <center><div id="osm-map"></div></center>
</div>
{# <!--PAGE CONTENT END--> #}
{% endblock %}














<script>
$("#id_city").on('change', function() {
  console.log( this.value );
  zoom = 14;
  map.setView(xy[this.value], zoom);
  map.removeLayer(target);
  target = L.marker( xy[ this.value ] ).addTo(map);
});
</script>


