{% extends 'head.html' %}
{% load static %}
{% block garden_content %}

<script>
jQuery(document).ready(function($) {
{# <!-- IMAGE ADD BUTTON --> #}
 $("#image").click(function (){ $(this).parent().find("input").click(); });

{% if garden_add %}
 $(".form_cover_text").hide(); $(".form_cover").hide(); 
{% endif %}
});

{# <!-- IMAGE PREVIEW --> #}
function readURL(input, display) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) { $("#" + display).attr("src", e.target.result); };
    reader.readAsDataURL(input.files[0]);
  }
};
</script>

<div class="container">
 <div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 
   <a href="/garden/{{ s_id }}/{{ parent.slug }}/"><button type="button" class="btn garden_back">
    <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
  </div>
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10" style="padding-right: 0px;">
   <center><h3>{{ tema_title }}</h3></center>
  </div>
 </div>
</div>

<div class="container">
{% block discussion_data %}{% endblock %}
</div>

<div class="container comment_form">
 <div class="form_cover"></div>
 <div class="form_cover_text">
 <center><h4><b class="text-danger">Atvainojiet, jums nav tiesību pievienoties diskusijai!</b></h4></center>
{# <!-- <center><h4><b class="text-danger">Lai pievienotos diskusijai nepieciešams <a href="/auth/login/">Autorizēties</a></b></h4></center> --> #}
 </div>
 <form action="/garden/{{ s_id }}/{{ tema_slug }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
   <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2" style="padding-top: 7px;">
     <label for="{{ form.user.id_for_label }}">Lietotājs:</label>
      <input class="form-control" id="new_comment" name="user" readonly="readonly" type="text" value="{{ user.username }}">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8" style="padding-top: 7px;">
     <label for="{{ form.text.id_for_label }}">Komentārs:</label>
      {{ form.text.errors }}
      {{ form.text }}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="padding-top: 27px;">
      <center>
       <img id="image" src="{% static 'attach.jpeg' %}" style="display: block; max-width: 80px; max-height: 80px; with: auto; height: auto; margin-top: 10px;"/>
       <input id="id_image" type="file" name="image" style="display: none" onchange="readURL(this, 'image');"/>
       <h6>Pievienot attēlu</h6>
      </center>
    </div>
   </div>
   <div class="row" style="border-top: solid #888 1px; margin-top: 10px;">
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4" style="margin-top: 17px;">
      <a href="/garden/{{ s_id }}/{{ parent.slug }}/"><button type="button" class="btn garden_back">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8" style="padding-right: 0px; margin-top:17px;">
     <div class="form-group" style="margin-bottom: 0px;">
      <center><input class="btn btn-primary" style="min-width: 300px;" type="submit" value="Pievienot komentāru"></center>
     </div>
    </div>
   </div>
  </div>
 </form>
</div>

{% endblock %}








<div class="col-lg-12 col-md-12 col-sm-12">

{% if paginator.visible %}
<center><ul class="pagination">
{% if paginator.big %}{% if paginator.active_page == 1 %}
<li class="disabled"><a href="#">&laquo;&laquo;</a></li>{% else %}<li><a href="/tema/{{ tema_nr }}/1/">&laquo;&laquo;</a></li>{% endif %}{% endif %}
{% if paginator.active_page == 1 %}<li class="disabled"><a href="#">&laquo;</a></li>{% else %}
<li><a href="/tema/{{ tema_nr }}/{{ paginator.active_page|add:"-1" }}/">&laquo;</a></li>{% endif %}
 {% for page in paginator.pages %}
 {% if page == 0 %}<li class="disabled"><a href="#">...</a></li>
 {% elif paginator.active_page == page %}<li class="active"><a href="#">{{ page }}</a></li>
 {% else %}<li><a href="/tema/{{ tema_nr }}/{{ page }}/">{{ page }}</a></li>{% endif %}{% endfor %}
{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;</a></li>{% else %}
<li><a href="/tema/{{ tema_nr }}/{{ paginator.active_page|add:"1" }}/">&raquo;</a></li>{% endif %}
{% if paginator.big %}{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;&raquo;</a></li>{% else %}
<li><a href="/tema/{{ tema_nr }}/{{ paginator.pagecount }}/">&raquo;&raquo;</a></li>{% endif %}{% endif %}
</ul></center>
{% endif %}

</div>
