{% extends 'main.html' %}
{% load static %}

{% block javascript %}
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/garden.css' %}" />
{% endblock %}


{% block content %}

<div class="navbar-collapse">
 <div class="tabbable">
  <ul class="nav nav-tabs">
{% if active_tab == "visas" %}<li class="active">{% else %}<li>{% endif %}
<a href="/garden/">Visas Diskusijas</a></li>

{% for s in super %}
{% if active_tab == s.slug %}<li class="active">{% else %}<li>{% endif %}<a href="/garden/{{ s.slug }}/">{{ s.title }}</a></li>
{% endfor%}

  </ul>
 </div>
</div>

{% block garden_content %}{% endblock %}

{% endblock %}
