{% extends 'head.html' %}

{% block garden_content %}

<script>
$(document).ready(function () {  $("#id_comment").hide(); });

function show_add_form() { $("#tema_form").show(); }

function chk_one(el) {
  id = el.id; var chk_id_list = ['chk1', 'chk2'];
  var checked = document.getElementById(id).checked;

  for (var i = 0; 2 > i; i++) { document.getElementById( chk_id_list[i] ).checked = false; }
  document.getElementById(id).checked = checked;

  if (id=='chk2') { $("#id_comment").prop('checked', true); } else { $("#id_comment").prop('checked', false); }
  var counter = 0; for (var i = 0; 2 > i; i++) { if (document.getElementById( chk_id_list[i] ).checked != false) { counter++; } }
  if (counter == 0) { $("#tema_add_btn").prop('disabled', 'disabled'); } else { $("#tema_add_btn").removeAttr("disabled"); }
}
</script>

{% if disable_back %}{% else %}
<div class="container" style="margin-bottom: 5px;">
 <div class="row">
{#  <div class="col-lg-12 col-md-12 col-sm-12"> #}
{% if parent %}
  <a href="/garden/{{ s_id }}/{{ parent.slug }}/"><button type="button" class="btn garden_back">
   <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
{% else %}
  <a href="/garden/{{ s_id }}/"><button type="button" class="btn garden_back">
   <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
{% endif %}
{#  </div> #}
 </div>
</div>
{% endif %}

<div class="container">
{% block theme_data %}{% endblock %}
</div>

{% if add_tema %}
<div class="container">
 <center>
  <h4>{% if garden_add %}<a href="#add_tema" id="add_tema" onclick="show_add_form()">Pievienot Tēmu vai Diskusiju</a>{% else %}
{# <!--  Lai pievienotu Tēmu vai Diskusiju nepieciešams <a href="/auth/login/">Autorizēties</a> --> #}
  <b class="text-danger">Atvainojiet, jums nav tiesību pievienoties diskusijai!</b>{% endif %}</h4>
 </center>
</div>
{% endif %}

<div class="col-lg-12 col-md-12 col-sm-12">

{% if paginator.visible %}
<center><ul class="pagination">
{% if paginator.big %}{% if paginator.active_page == 1 %}
<li class="disabled"><a href="#">&laquo;&laquo;</a></li>{% else %}<li><a href="/garden/garden/page=1/">&laquo;&laquo;</a></li>{% endif %}{% endif %}
{% if paginator.active_page == 1 %}<li class="disabled"><a href="#">&laquo;</a></li>{% else %}
<li><a href="/garden/page={{ paginator.active_page|add:"-1" }}/">&laquo;</a></li>{% endif %}
 {% for page in paginator.pages %}
 {% if page == 0 %}<li class="disabled"><a href="#">...</a></li>
 {% elif paginator.active_page == page %}<li class="active"><a href="#">{{ page }}</a></li>
 {% else %}<li><a href="/garden/page={{ page }}/">{{ page }}</a></li>{% endif %}{% endfor %}
{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;</a></li>{% else %}
<li><a href="/garden/page={{ paginator.active_page|add:"1" }}/">&raquo;</a></li>{% endif %}
{% if paginator.big %}{% if paginator.active_page == paginator.pagecount %}<li class="disabled"><a href="#">&raquo;&raquo;</a></li>{% else %}
<li><a href="/garden/page={{ paginator.pagecount }}/">&raquo;&raquo;</a></li>{% endif %}{% endif %}
</ul></center>
{% endif %}

</div>

<div class="container tema_form" id="tema_form" style="display: none;">
<hr>
 <form id="tema_form_form" action="/garden/add_tema/" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
    {{ form.title.label_tag }}
    <small style="color: grey">{{ form.title.help_text }}</small>
    {{ form.title }}
    {{ form.title.errors }}
    {{ form.comment }}
  </div>
  <div class="form-group">
    <h5><b>Pievienot tēmu vai diskusiju?</b></h5>
    <div class="checkbox">
     <label style="margin-left:10px;"><input type="checkbox" id="chk1" onclick="chk_one(this);"></input>Tēma - dalījums diskusijās</label>
    </div>
    <div class="checkbox">
     <label style="margin-left:10px;"><input type="checkbox" id="chk2" onclick="chk_one(this);"></input>Diskusija - konkrēta diskusija ar ierakstiem</label>
    </div>
  </div>
  <center><input id="tema_add_btn" class="btn btn-primary" style="min-width: 300px;" type="submit" value="Pievienot" disabled></center>
 </form>
<hr>
</div>

{% endblock %}
