{% extends 'jobs_head.html' %}

{% block jobs_cancel %}
<div class="table-responsive">
 <table class="table table-hover table-striped table-condensed">
  <thead>
   <tr>
    <th><a href="/jobs/canceled/1/"><span>Darbs pievienots </span>{% if sort == 1 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}
     {% if sort == 2 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
    <th><a href="/jobs/canceled/3/"><span>Darbs uzsākts </span>{% if sort == 3 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}
     {% if sort == 4 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
    <th>Darba uzdevums</th>
    <th><a href="/jobs/canceled/5/"><span>Darba zona </span>{% if sort == 5 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}
     {% if sort == 6 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
    <th style="text-align:center;">Uzsākt jaunu darbu</th>
   </tr>
  </thead>{% for job in jobs %}
  <tbody>

   <tr class="active type{{ job.jobs_type.order }}{% if job.jobs_date_start != None %}s{% endif %}" draggable="true">

    <td>{{ job.jobs_date_added|date:"d/m/Y" }}</td>
    <td>{% if job.jobs_date_start != None %}{{ job.jobs_date_start|date:"d/m/Y" }}{% endif %}</td>
    <td>{{ job.jobs_descr|safe }}{% if job.jobs_link %}<br>
     <a href="{{ job.jobs_link }}" target="_blank" class="text-danger">{{ job.jobs_link|truncatechars:50 }}</a>{% endif %}</td>
    <td>{{ job.jobs_zone }}</td>
    <td style="text-align:center;"><input type="checkbox" value=""></td>
   </tr>
  </tbody>{% endfor %}
 </table>
</div>
{% endblock %}

