{% extends 'main.html' %}

{% block content %}

{% if mobile_browser == False %}
<script>
$(document).ready(function(){
{% if active_tab != 5 %} jobScrollControl(); {% endif %}
  var cook = document.cookie; cook = cook.replace(/\s/g, ""); cook = cook.split(";"); cook.forEach(iterateCookie);
})

function iterateCookie(value, index, array) {
  if (value.match("jobs_scroll")) { value = value.split("="); var position = parseInt(value[1]); window.scrollTo(0, position); }
}

function jobScrollControl() { setInterval(function(){ document.cookie = "jobs_scroll=" + window.pageYOffset + "; path=/";} , 3000); }
</script>
{% endif %}

{#<!--{% if mobile_browser %}-->#}
{#<div class="col-xs-12 col-sm-12" id="jobs-menu"> #}
{# <div class="nav-side-menu"> #}
{#  <div style="height: 50px; width:100%;"></div> #}
{#  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#jobs-content"></i> #}
{#  <div class="jobs-list"> #}
{#   <ul id="jobs-content" class="menu-content collapse out"> #}
{#<!--{% else %}-->#}
<div class="container-fluid">
 <div class="navbar-collapse">
  <ul class="nav nav-tabs">
{#<!--{% endif %}-->#}

   <a href="/jobs/marked/"><li {% if active_tab == 1 %}class="active"{% endif %}><i></i>&nbsp;
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>{% if mobile_browser == False %}&nbsp; Izceltie darbi{% endif %}</a></li>
   <a href="/jobs/to_do/"><li {% if active_tab == 2 %}class="active"{% endif %}><i></i>&nbsp;
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{% if mobile_browser == False %}&nbsp; Veicamie darbi{% endif %}</a></li>
   <a href="/jobs/done/"><li {% if active_tab == 3 %}class="active"{% endif %}><i></i>&nbsp;
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>{% if mobile_browser == False %}&nbsp; Pabeigtie darbi{% endif %}</a></li>
   <a href="/jobs/canceled/"><li {% if active_tab == 4 %}class="active"{% endif %}><i></i>&nbsp;
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>{% if mobile_browser == False %}&nbsp; Darbi kuri nav jāveic{% endif %}</a></li>
   <a href="/jobs/add/"><li {% if active_tab == 5 %}class="active"{% endif %}><i></i>&nbsp;
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>{% if mobile_browser == False %}&nbsp; Pievienot jaunu darbu{% endif %}</a></li>
  </ul>
 </div>
</div>

{#<!--{% if mobile_browser %}</div>{% endif %}-->#}

{% if marking %}
 <button class="pull-right btn btn-warning" type="button" id="markingbtn" onclick="markID();">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Izcelt darbu
 </button>

 <div style="display: none;">
  <form id="mark_form" action="/jobs/mark/" method=POST>{% csrf_token %}
   <input type="hidden" name="mark_job_id" id="mark_job_id">
  </form>
 </div>

<script>function markID() { $("#mark_job_id").val(JSON.stringify(markedArray)); $("#mark_form").submit(); }</script>
{% endif %}

{% if unmarking %}
 <button class="pull-right btn btn-danger" type="button" id="unmarkingbtn" onclick="unmarkID();">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Noņemt darbu
 </button>

 <div style="display: none;">
  <form id="unmark_form" action="/jobs/unmark/" method=POST>{% csrf_token %}
   <input type="hidden" name="unmark_job_id" id="unmark_job_id">
  </form>
 </div>

<script>function unmarkID() { $("#unmark_job_id").val(JSON.stringify(unmarkedArray)); $("#unmark_form").submit(); }</script>
{% endif %}

<div class="container" style="margin-top:10px;"></div>

{% block jobs_marked %}{% endblock %}
{% block jobs_todo %}{% endblock %}
{% block jobs_cancel %}{% endblock %}
{% block jobs_done %}{% endblock %}
{% block jobs_add %}{% endblock %}

{% endblock %}



{% block style %}
   textarea { resize: none; }

  .table td.fit, .table th.fit { width: 1%; text-align:center; }

   #markingbtn { color: #222; border-color: #555; display: none; top: 70px; position: fixed; right: 30px; }
   #unmarkingbtn { color: #222; border-color: #555; display: none; top: 70px; position: fixed; right: 30px; }
   #back_to_top { color: #222; border-color: #555; display: none; bottom: 47px; right: 30px; position: fixed; min-width: 160px; }
   #go_to_bottom { color: #222; border-color: #555; display: none; bottom: 10px; right: 30px; position: fixed; min-width: 160px; }
   #footer { display:none; height: 72px;}

   .table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #9b9da0; }
   .table.table > thead > tr > th { vertical-align:top }

   a { color: #000; }

   .nav-tabs > li > a{ color: #000; background-color: #ffffb3; }
   .nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }

{# NOT SURE ABOUT NEXT ONE #}
{#<!--   .tab-content{ background-color:#303136; color:#fff; padding:5px } -->#}
{% endblock %}
