{% extends 'main.html' %}

{# <!-- JS BLOCK --> #}
{% block javascript %}
{% endblock %}
<script>
window.onload = function () { $("input.disabled_checkbox").attr("disabled", true); }
$(document).ready(function(){
 var hider = document.getElementsByClassName("hider")[0]; var close = document.getElementById("galery_close");
 $("#galery_close").click(function() { hider.style.display = "none"; close.style.display = "none"; });
 $(".obj_thumb").click(function( event ) { console.log( event.target.src ); hider.style.display = "table-cell";
 close.style.display = "block"; hider.children[0].src = event.target.nextSibling.innerHTML; });
});
</script>


{# <!-- STYLE BLOCK --> #}
{% block style %}
   a { color: #000; }
   .nav-tabs > li > a{ color: #000; background-color: #ffffb3; }
   .nav-tabs > li > a:hover{ background-color: #ccc !important; color:#fff; }

   .obj_head { background-color: #999 !important; margin-bottom:0px; }

   .media-list { background-color: #ccc; }
   .media-object { float: left; margin:2px; }
   .obj_thumb { padding:0px; }
{% endblock %}


{# <!-- CONTENT BLOCK --> #}
{% block content %}
<div class="container-fluid" id="objects-menu">
  <div class="navbar-collapse">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#actual">Aktuālie objekti</a></li>
      <li><a data-toggle="tab" href="#old">Vecie objekti (neaktuālie)</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
{# <!-- ACTUAL OBJ TAB --> #}
 <div id="actual" class="tab-pane fade in active">
{% for d in data %}
  <ul class="media-list obj_head" id="obj_{{ d.0.id }}">
   <li class="media">
    <div class="media-left">{{ d.0.obj_added|date:"d/m/Y" }}</div>
    <div class="media-body"><b>{{ d.0.obj_title }}</b></div>
    <div class="media-right">{{ d.0.get_obj_zone_display }}</div>
   </li>
  </ul>

  <ul class="media-list">
   <li class="media">

     {% for i in d.1 %}{% if i.obj_image_small != "" %}
    <div class="media-left obj_thumb">
     <a href="{{ i.obj_image_big.url }}">
      <img class="media-object" src="{{ i.obj_image_small.url }}">
     </a>
    </div>
     {% endif %}{% endfor %}
     {% for f in d.2 %}{% if f.obj_file.url != '' %}
    <div class="media-left obj_thumb">
     <a href="{{ f.obj_file.url }}">
      <span style="color: #888; font-size:45px;margin:3px;" class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
     </a>
    </div>
     {% endif %}{% endfor %}

    <div class="media-body">
     <h5>
      {{ d.0.obj_descr|safe }}
     </h5>
     {% if d.0.obj_url != None %}
     <a target="_blank" href="{{ d.0.obj_url }}" class="text-danger">Links</a>
    {% endif %}
    </div>
   </li>
  </ul>
{% endfor %}
 </div>



{# <!-- OLD OBJ TAB --> #}
 <div id="old" class="tab-pane fade">
{% for d in old_data %}
  <ul class="media-list obj_head" id="obj_{{ d.0.id }}">
   <li class="media">
    <div class="media-left">{{ d.0.obj_added|date:"d/m/Y" }}</div>
    <div class="media-body"><b>{{ d.0.obj_title }}</b></div>
    <div class="media-right">{{ d.0.get_obj_zone_display }}</div>
   </li>
  </ul>

  <ul class="media-list">
   <li class="media">

     {% for i in d.1 %}{% if i.obj_image_small != "" %}
    <div class="media-left obj_thumb">
     <a href="{{ i.obj_image_big.url }}">
      <img class="media-object" src="{{ i.obj_image_small.url }}">
     </a>
    </div>
     {% endif %}{% endfor %}
     {% for f in d.2 %}{% if f.obj_file.url != '' %}
    <div class="media-left obj_thumb">
     <a href="{{ f.obj_file.url }}">
      <span style="color: #888; font-size:45px;margin:3px;" class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
     </a>
    </div>
     {% endif %}{% endfor %}

    <div class="media-body">
     <h5>
      {{ d.0.obj_descr|safe }}
     </h5>
     {% if d.0.obj_url != None %}
     <a target="_blank" href="{{ d.0.obj_url }}" class="text-danger">Links</a>
    {% endif %}
    </div>
   </li>
  </ul>
{% endfor %}

  </div>
</div>
{% endblock %}
