{% extends 'jobs_head.html' %}

{% block jobs_todo %}
<script>
var markedArray = [];

function mb_click( el, thisValue ) {
  if ( markedArray.indexOf( thisValue ) === -1 ) {
    markedArray.push( thisValue );
    el.classList.add('btn-danger');
    el.classList.remove('btn-warning');
    el.childNodes[1].classList.add('glyphicon-remove');
    el.childNodes[1].classList.remove('glyphicon-ok');
  }
  else {
    markedArray.remove( thisValue );
    el.classList.add('btn-warning');
    el.classList.remove('btn-danger');
    el.childNodes[1].classList.add('glyphicon-ok');
    el.childNodes[1].classList.remove('glyphicon-remove');
  }
  console.log( markedArray );
  if (markedArray.length > 0) { $("#markingbtn").show(); } else { $("#markingbtn").hide(); }
}

window.onload = function () { $("#markingbtn").hide(); $("input.disabled_checkbox").attr("disabled", true); modals.init(); }

var modals = {
  init: function() {
    $('input[type="checkbox"]').click(function(e) {
      var mod = e.target.id[0];
      var nr = e.target.id.substr(1);
{% if u_job_start %}
      if (mod == "s") {
        $("#JobModal").modal('show');
        document.getElementById('jobstart_added').innerHTML = $(this).parent().parent().children('td')[2].innerHTML;
        document.getElementById('jobstart_descr').innerHTML = $(this).parent().parent().children('td')[4].innerHTML;
        document.getElementById('jobstart_zone').innerHTML = $(this).parent().parent().children('td')[6].innerHTML;
        document.getElementById('jobstart_type').innerHTML = $(this).parent().parent().children('td')[5].innerHTML;
        document.getElementById('jobstart').href = "/jobs/start/" + $(this).parent().parent().children('td')[0].innerHTML + "/";
      }
{% endif %}
{% if u_job_fin %}
      if (mod == "d") {
        $("#FinModal").modal('show');
        document.getElementById('jobfin_added').innerHTML = $(this).parent().parent().children('td')[2].innerHTML;
        document.getElementById('jobfin_start').innerHTML = $(this).parent().parent().children('td')[3].innerHTML;
        document.getElementById('jobfin_descr').innerHTML = $(this).parent().parent().children('td')[4].innerHTML;
        document.getElementById('jobfin_zone').innerHTML = $(this).parent().parent().children('td')[6].innerHTML;
        document.getElementById('jobfin_type').innerHTML = $(this).parent().parent().children('td')[5].innerHTML;
        document.getElementById('jobfin').href = "/jobs/finish/" + $(this).parent().parent().children('td')[0].innerHTML + "/";
      }
{% endif %}
{% if u_job_fin %}
      if (mod == "c") {
        $("#CancelModal").modal('show');
        document.getElementById('jobcancel_added').innerHTML = $(this).parent().parent().children('td')[2].innerHTML;
        document.getElementById('jobcancel_start').innerHTML = $(this).parent().parent().children('td')[3].innerHTML;
        document.getElementById('jobcancel_descr').innerHTML = $(this).parent().parent().children('td')[4].innerHTML;
        document.getElementById('jobcancel_zone').innerHTML = $(this).parent().parent().children('td')[6].innerHTML;
        document.getElementById('jobcancel_type').innerHTML = $(this).parent().parent().children('td')[5].innerHTML;
        document.getElementById('jobcancel').href = "/jobs/cancel/" + $(this).parent().parent().children('td')[0].innerHTML + "/";
      }
{% endif %}
      e.target.checked = false;
    });
  }
};
</script>

{% if u_job_start %}
{# START JOB MODAL START #}
<div class="modal fade" id="JobModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content"><div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 <h3 class="modal-title" id="myModalLabel">Uzsākt darbu</h3></div>
<div class="modal-body">
 <h4>Darbs pievienots: <small id="jobstart_added"></small></h4>
 <h4>Uzdevums: <small id="jobstart_descr"></small></h4>
 <h4>Darba zona: <small id="jobstart_zone"></small></h4>
 <h4>Darba tips: <small id="jobstart_type"></small></h4>
</div><div class="modal-footer">
 <a href="" id="jobstart"><button type="button" class="btn btn-primary">Uzsākt darbu</button></a>
<button type="button" class="btn btn-default" data-dismiss="modal">Atpakaļ</button></div></div></div></div>
{% endif %}

{% if u_job_fin %}
{# JOB DONE MODAL START #}
<div class="modal fade" id="FinModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content"><div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 <h3 class="modal-title" id="myModalLabel">Pabeigt darbu</h3></div>
<div class="modal-body">
 <h4>Darbs pievienots: <small id="jobfin_added"></small></h4>
 <h4>Darbs uzsākts: <small id="jobfin_start"></small></h4>
 <h4>Uzdevums: <small id="jobfin_descr"></small></h4>
 <h4>Darba zona: <small id="jobfin_zone"></small></h4>
 <h4>Darba tips: <small id="jobfin_type"></small></h4>
</div><div class="modal-footer">
 <a href="" id="jobfin"><button type="button" class="btn btn-primary">Darbs pabeigts</button></a>
<button type="button" class="btn btn-default" data-dismiss="modal">Atpakaļ</button></div></div></div></div>
{% endif %}

{% if u_job_cancel %}
{# JOB CANCEL MODAL START #}
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content"><div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 <h3 class="modal-title" id="myModalLabel">Atcelt darbu</h3></div>
<div class="modal-body">
 <h4>Darbs pievienots: <small id="jobcancel_added"></small></h4>
 <h4>Darbs uzsākts: <small id="jobcancel_start"></small></h4>
 <h4>Uzdevums: <small id="jobcancel_descr"></small></h4>
 <h4>Darba zona: <small id="jobcancel_zone"></small></h4>
 <h4>Darba tips: <small id="jobcancel_type"></small></h4>
</div><div class="modal-footer">
 <a href="" id="jobcancel"><button type="button" class="btn btn-primary">Atcelt darbu</button></a>
<button type="button" class="btn btn-default" data-dismiss="modal">Atpakaļ</button></div></div></div></div>
{% endif %}

<div class="table-responsive">
<table class="table table-hover table-striped table-condensed"><thead><tr>
 <th></th>
 <th><a href="/jobs/to_do/1/"><span>Darbs pievienots </span>{% if sort == 1 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}{% if sort == 2 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
 <th><a href="/jobs/to_do/3/"><span>Darbs sākts </span>{% if sort == 3 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}{% if sort == 4 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
 <th>Darba uzdevums</th>
 <th><a href="/jobs/to_do/5/"><span>Darba zona </span>{% if sort == 5 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}{% if sort == 6 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
 <th><a href="/jobs/to_do/7/"><span>Darba tips </span>{% if sort == 7 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}{% if sort == 8 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
 <th style="text-align:center;"><a href="/jobs/to_do/3/"><span>Darbs sākts </span>{% if sort == 3 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"/>{% endif %}{% if sort == 4 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>{% endif %}</a></th>
 <th style="text-align:center;">Darbs pabeigts</th>
 <th style="text-align:center;">Atcelt darbu</th>
</tr></thead>{% for job in jobs %}
{% if first_date%}{% if first_date != job.jobs_date_added %}{% with job.jobs_date_added as first_date %}<tbody><tr style="background-color: rgba(210,130,240, 0.3) !important;"><td colspan="7"></td>{% endwith %}</tr></tbody>{% endif %}{% endif %}
<tbody>{% if job.jobs_date_start != None %}<tr class="success">{% elif job.jobs_type == 'JAPERK' %}<tr class="warning">{% elif job.jobs_type == 'SVARIGI' %}<tr class="danger">{% else %}<tr>{% endif %}
 <td style="display: none;">{{ job.id }}</td>
 <td>
{% if u_job_mark %}
  <button class="btn-xs btn-warning" type="button" id="mark{{job.id}}" onclick="mb_click(this, {{ job.id }});">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
{% endif %}
 </td>
 <td>{{ job.jobs_date_added|date:"d/m/Y" }}</td>
 <td>{% if job.jobs_date_start != None %}{{ job.jobs_date_start|date:"d/m/Y" }}{% endif %}</td>
 <td>{{ job.jobs_descr|safe }}{% if job.jobs_link %}<br><a href="{{ job.jobs_link }}" target="_blank" class="text-danger">{{ job.jobs_link|truncatechars:50 }}</a>{% endif %}</td>
 <td>{{ job.get_jobs_zone_display }}</td>
 <td>{{ job.get_jobs_type_display }}</td>
 <td style="text-align:center;">{% if job.jobs_date_start == None %}
  <input type="checkbox" id="s"{% if u_job_start == False %} disabled{% endif %}>{% else %}<input type="checkbox" checked="checked" class="disabled_checkbox">{% endif %}</td>
 <td style="text-align:center;">
  <input type="checkbox" id="d"{% if u_job_fin == False %} disabled{% endif %}>
 </td>
 <td class="danger" style="text-align:center;">
  <input type="checkbox" id="c"{% if u_job_cancel == False %} disabled{% endif %}>
 </td>
</tr>
</tbody>{% endfor %}
</table>
</div>
{% endblock %}
