{% extends 'bt_head.html' %}

{% block content %}

<div id="t1" class="m_title"><h4><strong>{{ title }}<strong></h4></div>
<div id="t2" class="m_user"><h4><strong>{{ m_user }}<strong></h4></div>

<div class="caption">
  <span id="info" style="cursor:default;">Kad būs īstais laiks, tad padošu ziņu un visu redzēsi</span>
  <img id="button_img" class="center_img" src="https://svabis.eu/static/button.jpeg" onclick="submit_changes();" style="display:none;">
  <span id="button" style="color: #d90007;" onclick="submit_changes();"></span>

<audio controls id="horse" style="display: none;">
{#  <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg"> #}
  <source src="https://svabis.eu/static/check.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<script>
{# <!--"START CHECK TIMER"--> #}
var idleInterval;
var cookieCheck;
$(document).ready(function () { idleInterval = setInterval(timerIncrement, 3000); });

{# <!--"Read coockies"--> #}
var mId; var pId; var tempC;
$(document).ready(function(){
  var cook = document.cookie; cook = cook.replace(/\s/g, ""); cook = cook.split(";"); cook.forEach(iterateCookie);
  cookieCheck = setInterval( function () {
    var cook = document.cookie; cook = cook.replace(/\s/g, ""); cook = cook.split(";"); cook.forEach(iterateCookie);
    }, 10000);
  var temp=tempC.split(":"); mId=temp[0]; pId=temp[1];
})

function iterateCookie(value, index, array) {
  if (value.match("button")) {
    value = value.split("="); if (typeof(mId) == "undefined") { mId=value[1]; tempC=value[1]; } else { if (tempC != value[1] ) { cancel(); } }
  }
}

{# <!--"countdown & restore"--> #}
var inProgress = false;
var countdown;
var duration;
var not = document.getElementById("horse");
not.loop = true;;

function playNot() { not.play(); }
function stopNot() { not.pause(); not.currentTime = 0; }

function cancel() {
  clearInterval(cookieCheck);
  clearInterval(countdown);
  clearInterval(idleInterval);
  $("#info").html("Viss ir slikti...");
  $("#info").show();
  $("#button_img").hide();
  $("#button").hide();
  $("#t1").hide();
  $("#t2").hide();
}

function submit_changes() {
  stopNot();
  idleInterval = setInterval(timerIncrement, 3000);
  clearInterval(countdown);
  document.querySelector("#button").innerHTML = "Nospiedi!";
  setTimeout(restore, 15000);
}

function restore() {
  document.title = "{{title}}";
  inProgress = false;
  $("#info").show();
  $("#button_img").hide();
  $("#button").hide();
}

function applyTimer() {
  document.title = "Spied!"
  clearInterval(idleInterval);
  inProgress = true;
  $("#info").hide();
  $("#button_img").show();
  $("#button").show();
  $("#button_img").focus();
  playNot();
  display = document.querySelector("#button");
  display.focus();
  display.innerHTML ="00:00";
    var timer = duration, minutes, seconds;
    countdown = setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);
      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;
      display.textContent = minutes + ":" + seconds;
      if (--timer < 0) {
        stopNot();
        timer = duration;
        clearInterval(countdown);
        duration = 59;
        display.innerHTML = "Nokavēji!";
        idleInterval = setInterval(timerIncrement, 3000);
        setTimeout(restore, 15000);
      }
    }, 1000);
}

{# <!--"Check for button press"--> #}
function timerIncrement() {
  $.ajax({ url:"../button/press/", type: "GET",
    data: {data: mId}, success:function(response){
//      console.log(response);
      if (response.split(" ")[0] == "push") {
        if (!inProgress) {
          duration = parseInt( response.split(" ")[1] );
          applyTimer();
        }
      }
      if (response == "ended") {
        clearInterval(idleInterval);
        inProgress = false;
        $("#info").show();
        $("#info").html("Pasākums ir beidzies, vari negaidīt");
        $("#button_img").hide();
        $("#button").hide();  
      }
    }, complete:function(){},
    error:function (xhr, textStatus, thrownError){ console.log(xhr.responseText); console.log("error doing something"); }
  });
}
</script>

</div>

{% endblock %}

