{% extends 'discussions_paginator.html' %}
{% load tz %}

{% block discussion_data %}
{% for d in diskusija %}
<div class="row comments">
  <div class="col-sm-12 col-md-12 col-lg-12 com_head"></div>
  <div class="col-sm-2 col-md-2 col-lg-2 user">
     <h4>{{ d.user }}</h4>
     <h5>{{ d.date|date:"d/m/Y H:i" }}</h5>

{% if username == d.user %}
  <a href="/idea/del_post/{{ d.id }}/">
   <button class="btn btn-xs btn-danger" style="min-width: 22px;">Dzēst ierakstu</button>
  </a>
{% endif %}

 {#    <button class="btn btn-xs btn-success" style="min-width: 22px;">+</button> #}
 {#    <button class="btn btn-xs btn-danger" style="min-width: 22px;">-</button> #}
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10 com_body">
    <h4>{{ d.text|linebreaks }}</h4>
    {# <!-- url --> #}
    {% if d.url %}<a href="{{ d.url }}" target="_blank"><b class="text-danger">{{ d.url|truncatechars:50 }}</b></a>{% endif %}

    {# <!-- images --> #}
    {% for i in d.img.all %}<img class="forum_image" src="{{ i.image.url }}">{% endfor %}

  </div>
</div>

{% endfor %}

{% endblock %}
