{% extends 'head.html' %}
{% load static %}


{% block idea_content %}

<script>
jQuery(document).ready(function($) {
{# <!-- MULTIPLE IMAGE PREVIEW --> #}
  var imagesPreview = function(input, gallery) {
    $(gallery).empty();
    if (input.files) {
      var filesAmount = input.files.length;
      for (i = 0; i < filesAmount; i++) {
        var reader = new FileReader();
        reader.onload = function(event) { $($.parseHTML('<img>')).attr("src", event.target.result).appendTo( gallery ); }
        reader.readAsDataURL(input.files[i]);
      }
    }
  };

{# <!-- PREVIEW TRIGER --> #}
  $("#id_image").on("change", function() { imagesPreview(this, "div#preview"); });
//  $("#cam_image").on("change", function() { imagesPreview(this, "div#preview"); });

{# <!-- IMAGE SELECT TRIGERS --> #}
 $("#image").click(function (){ $(this).parent().find("input").click(); });
 $("#image_txt").click(function (){ $(this).parent().find("input").click(); });
// $("#camera").click(function (){ $(this).parent().find("input").click(); });

{% if idea_add %} $(".form_cover_text").hide(); $(".form_cover").hide(); {% endif %}

});
</script>

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> 
   <a href="/idea/{{ s_id }}/{{ parent.slug }}/"><button type="button" class="btn idea_back">
    <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
  </div>
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10" style="padding-right: 0px;">
   <center><h3>{{ tema_title }}</h3></center>
  </div>
 </div>
</div>

{% block discussion_data %}{% endblock %}

<div class="comment_form">
 <div class="form_cover"></div>
 <div class="form_cover_text">
 <center><h4><b class="text-danger">Atvainojiet, jums nav tiesību pievienoties diskusijai!</b></h4></center>
{# <!-- <center><h4><b class="text-danger">Lai pievienotos diskusijai nepieciešams <a href="/auth/login/">Autorizēties</a></b></h4></center> --> #}
 </div>
 <form action="/idea/{{ s_id }}/{{ tema_slug }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
   <div class="row">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12" style="padding-top: 7px;">
     <label for="{{ form.user.id_for_label }}">Lietotājs:</label>
      <input class="form-control" id="new_comment" name="user" readonly="readonly" type="text" value="{{ user.username }}">
    </div>
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding-top: 7px;">
     <label for="{{ form.text.id_for_label }}">Komentārs:</label>
      {{ form.text.errors }}
      {{ form.text }}
     <label for="{{ form.url.id_for_label }}">Hiper-saite:</label>
      {{ form.url }}
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12" style="padding-top: 27px;">
      <center>

       <span id="image" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
       <input id="id_image" type="file" name="image" style="display: none" multiple/>
       <h6 id="image_txt">Pievienot attēlu</h6>
{% if mobile_browser %}
       <div>
{#        <input name="cimage" id="cam_image" type="file" accept="image/*" capture="camera" style="display: none"> #}
{#        <span id="camera" class="glyphicon glyphicon-camera" aria-hidden="true"></span> #}
       </div>
{% endif %}
      </center>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" id="preview"></div>
   </div>
   <div class="row" style="border-top: solid #888 1px; margin-top: 10px;">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-top: 17px;">
     <a href="/idea/{{ s_id }}/{{ parent.slug }}/"><button type="button" class="btn idea_back">
      <span class="glyphicon glyphicon-backward" aria-hidden="true"> </span></button></a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-right: 0px; margin-top:17px;">
     <div class="form-group" style="margin-bottom: 0px;">
      <center><input class="btn btn-primary" style="min-width: 300px;margin-top:3px;" type="submit" value="Pievienot komentāru"></center>
     </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
   </div>
  </div>
 </form>
</div>

{% endblock %}
